NODE_ENV=
DATABASE_URL=
PORT=

BETTER_AUTH_SECRET=
APP_URL=# Base URL of your app
BETTER_AUTH_URL=# Base URL of your app

APP_NAME=Schreibkreis

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

EMAIL_FROM=
EMAIL_FROM_NAME=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_ROLE=

REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=

INTERNAL_API_KEY=